<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wedge_7.SLDPRT">
  <link
    name="wedge_7.SLDPRT">
    <inertial>
      <origin
        xyz="0 1.65916202459027E-16 0.010227"
        rpy="0 0 0" />
      <mass
        value="490.89" />
      <inertia
        ixx="164.19"
        ixy="3.6429E-14"
        ixz="-1.6263E-15"
        iyy="205.1"
        iyz="8.82972790589075E-15"
        izz="368.17" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wedge_7.SLDPRT/meshes/wedge_7.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.9 0.2 1" />
        <texture
          filename="package://wedge_7.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wedge_7.SLDPRT/meshes/wedge_7.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>