<?xml version="1.0" ?>
<robot name="wedge_7">
  <link name="wedge_7__link_2">
    <inertial>
      <mass value="1"/>
      <origin rpy="0      0     -1.5708" xyz="0 0 0"/>
      <inertia ixx="0.166667" ixy="0" ixz="0" iyy="0.166667" iyz="0" izz="0.166667"/>
    </inertial>
    <collision name="wedge_7__collision">
      <origin rpy="0      0     -1.5708" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://wedge_7/wedge_7.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual name="wedge_7__visual">
      <origin rpy="0      0     -1.5708" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://wedge_7/wedge_7.stl" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
</robot>
