<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wedge.SLDPRT">
  <link
    name="wedge_15.SLDPRT">
    <inertial>
      <origin
        xyz="-2.6518E-17 1.35925188307573E-16 0.021806"
        rpy="0 0 0" />
      <mass
        value="1046.7" />
      <inertia
        ixx="354.36"
        ixy="8.0502E-15"
        ixz="-4.942E-15"
        iyy="441.59"
        iyz="1.79553033983071E-14"
        izz="785" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wedge_15.SLDPRT/meshes/wedge_15.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.9 0.2 1" />
        <texture
          filename="package://wedge_15.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wedge_15.SLDPRT/meshes/wedge_15.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>