<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wedge_10.SLDPRT">
  <link
    name="wedge_10.SLDPRT">
    <inertial>
      <origin
        xyz="-3.9245E-17 -1.87208324991391E-17 0.014734"
        rpy="0 0 0" />
      <mass
        value="707.23" />
      <inertia
        ixx="237.43"
        ixy="3.1225E-14"
        ixz="-2.1437E-15"
        iyy="296.37"
        iyz="1.43192041587833E-14"
        izz="530.43" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wedge_10.SLDPRT/meshes/wedge_10.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.9 0.2 1" />
        <texture
          filename="package://wedge_10.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wedge_10.SLDPRT/meshes/wedge_10.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>