<?xml version="1.0" ?>
<robot name="up_sidehill">
  <link name="up_sidehill__link_0">
    <inertial>
      <mass value="1"/>
      <origin rpy="0     0     1.5708" xyz="0.5 0.5 0"/>
      <inertia ixx="0.166667" ixy="0" ixz="0" iyy="0.166667" iyz="0" izz="0.166667"/>
    </inertial>
    <collision name="up_sidehill__collision">
      <origin rpy="0     0     1.5708" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://up_sidehill/up_sidehill.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual name="up_sidehill__visual">
      <origin rpy="0     0     1.5708" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://up_sidehill/up_sidehill.stl" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
</robot>
